* {
	margin:0px;
	padding:0px;
}
			
#header {
	margin:auto;
	width:480px;
	font-family:Arial, Helvetica, sans-serif;
}

li{
	width: 240px;
}
			
ul, ol {
	list-style:none;
}
			
.nav > li {
	float:right;
}
			
.nav li a {
	background-color:#0e2d6e;
	color:#fff;
	text-decoration:none;
	text-align: center;
	padding: 16px;
	display:block;
}
			
.nav li a:hover {
	background-color:#000;
}
			
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}
			
.nav li:hover > ul {
	display:block;
}
			
.nav li ul li {
	position:relative;
}
			
.nav li ul li ul {
	top:0px;
}